@model IEnumerable<ShopTARge24.Models.RealEstate.RealEstateIndexViewModel>

@{
	var Nr = 1;
}

<div>
	<a asp-action="create" asp-controller="realEstate" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
	RealEstate
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nr</th>
				<th scope="col">Area</th>
				<th scope="col">Location</th>
				<th scope="col">RoomNumber</th>
				<th scope="col">BuildingType</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var realEstate in Model)
			{
				<tr>
					<td>@Nr</td>
					<td>@realEstate.Area</td>
					<td>@realEstate.Location</td>
					<td>@realEstate.RoomNumber</td>
					<td>@realEstate.BuildingType</td>
					<td>
						<a asp-action="details" asp-controller="realEstate" asp-route-id="@realEstate.Id" class="btn btn-outline-success">Details</a>
						<a asp-action="update" asp-controller="realEstate" asp-route-id="@realEstate.Id" class="btn btn-outline-primary">Update</a>
						<a asp-action="delete" asp-controller="realEstate" asp-route-id="@realEstate.Id" class="btn btn-outline-danger">Delete</a>
					</td>
				</tr>

				Nr++;
			}
		</tbody>
	</table>
</form>